#deployment and service
apiVersion: apps/v1
kind: Deployment
metadata:
  name: h2-deployment
  labels:
    app: h2
spec:
  replicas: 3
  selector:
    matchLabels:
      app: h2
  template:
    metadata:
      labels:
        app: h2
    spec:
      containers:
        - name: h2
          image: maria1231483/h2database:1.0
          ports:
            - containerPort: 8082
---
apiVersion: v1
kind: Service
metadata:
  name: h2-service
spec:
  selector:
    app: h2
  ports:
    - protocol: TCP
      port: 5000 # port we choose
      targetPort: 8082 #same as container port
